<form [formGroup]="loginForm" class="form-signin">
  <!--
      you can substitue the span of reauth email for a input with the email and
      include the remember me checkbox
      -->
  <div class="container">
    <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <!--img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/-->
      <img id="profile-img" class="profile-img-card" src="../../assets/dancing.gif"/>
      <p id="profile-name" class="profile-name-card"></p>


      <!--label for="username"><b>Login</b></label-->
      <input formControlName="username" class="form-control icon-username" type="text" placeholder="Nom de compte" name="username"
             required autofocus>
      <br>

      <!--label for="password"><b>Password</b></label-->
      <input formControlName="password" class="form-control icon-connexionmotpasse" type="password"
             placeholder="Mot de passe"
             name="password"
             required>

      <label class="text-white">
        <input type="checkbox" checked="checked" name="remember"/> Se souvenir de moi
      </label>


      <button (click)="doLogin()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Se connecter
      </button>
      <!--button type="button" class="cancelbtn" class="btn btn-danger">Cancel</button-->
      <a href="#" class="forgot-password">
        Mot de passe oublié ?
      </a>


    </div><!-- /card-container -->
  </div><!-- /container -->
</form>

