<h1>Veuillez vous identifier</h1>
<form [formGroup]="loginForm">
  <div class="container">
    <label for="username"><b>Login</b></label>
    <input formControlName="username" class="form-control" type="text" placeholder="Enter your email" name="username" required>

    <label for="password"><b>Password</b></label>
    <input formControlName="password" class="form-control" type="password" placeholder="Enter your password" name="password" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button (click)="doLogin()" class="btn btn-primary">Login</button>
    <button type="button" class="cancelbtn" class="btn btn-danger">Cancel</button>
    <span class="password">Forgot <a href="#">password?</a></span>
  </div>
</form>