body {
  min-width:350px;
  background-image: url('./assets/campfire.jpg');
  background-size: contain;
  -webkit-background-size: cover;
  background-repeat:no-repeat;
}

.navbar {
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #dd810d 1%, #fff8f7 100%);
  background: -webkit-linear-gradient(top,  #7d7e7d 0%, #dd8105 1%, #fcfffd 100%);
}
/*
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
}
.navbar li a {
  float: left;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #ddd;
}
.navbar li a:hover {
  background-color: #333;
  color: #fff;
}*/
