body {
  min-width: 350px;
  background-size: contain;
  -webkit-background-size: cover;
  background-repeat:no-repeat;
  color: #2F4858;
}

.navbar {
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #e95420 1%, #e95420 100%);
  background: -webkit-linear-gradient(top,  #7d7e7d 0%, #e95420 1%, #e95420 100%);
}

.btn-primary {
  background-color: red;
}
